.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App .navbar {
  width: 100%;
  min-height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: rgb(24, 102, 151);
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.App .navbar .nav-links>a{
  color: rgb(15, 33, 94);
  text-decoration: none;
}

input {
  display: inline;
  min-width: 20%;
  margin: 1em;
  /* margin-left:; */
  padding: 1em;
  /* padding-left: 100px; */
  width: 15em;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: 0.1s ease;
}

input:hover {
  border-color: rgb(15, 33, 94);
}

button {
  margin: 0.8em;
  padding: 1em;
  border: 1px solid #e4e6e8;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

button:hover {
  background-color: rgb(15, 33, 94);
  color: white;
}

.Input-Wrapper {
  width:auto;
  height: fit-content;
  display: 'flex';
  align-items: center;
  justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.navbar{
  font-family: 'DM Serif Display', serif;
  font-size:x-large;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.Input-Header{
  font-family: 'DM Serif Display', serif;
  font-size: x-large;
}
/* .link-wrapper{
  background-color: rgb(15, 33, 94);
  opacity: 100%;
  display: block;
  color: #fff;
} */
.link-wrapper{
  padding-inline: 40px;
  margin-inline: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.link-wrapper:hover{
  background-color: rgba(15, 33, 94, 0.349);
  opacity: 100%;
  display: block;
  border-radius: 5px;
} 